@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap');


* {
    font-family: 'Nunito', sans-serif;
    color: rgb(214, 214, 214);
    font-weight: 300;
    font-size: 18pt;
    text-align: center;
    margin: 2px;
    border-radius: 10px;
    overflow: hidden;
    white-space: nowrap;
}

body {
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

input[type=text], input[type=number] {
    width: 120px;
    background: inherit;
    border: none;
    text-align: left;
}

input:hover, input:active {
    background-color: rgb(37, 37, 37);
}

label:hover {
    background-color: none;
}

#skip {
    background: rgb(55, 82, 83);
    /* background: rgb(44, 146, 86); */
    border: none;
}

#skip:hover {
    background: rgb(92, 141, 143);
}

#container {
    display: flex;
    flex: 3 1;
}

#queue {
    overflow-y: scroll;
    background-color: rgb(29, 29, 29);
    flex-grow: 1;
}

#info {
    width: fit-content;
    max-width: 60vw;
}

#settings {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 300px;
}

#skip-settings {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.order {
    width: 26vw;
    font-size: 15pt;
}

#how, #how span {
    font-size: 18pt;
    border-radius: 2px;
    font-weight: 500;
    text-align: left;
}

#progress {
    text-align: left;
}

#currentInfo {
    min-width: 20px;
}

#player-parent {
    width: 75vw;
    resize: both;
    max-height: 82vh;
    max-width: 90vw;
    aspect-ratio: 16 / 9;
    padding: 0 6px 6px 0;
}

#player {
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 0.45vw; 
}
  
/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(90, 90, 90);
    border-radius: 0.3vw;
}


#modal {
    position: absolute;
    top: 10vh;
    left: 10vw;
    height: 80vh;
    width: 80vw;
    background-color: #0e0e0efa;
    border-radius: 1vw;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 3vw;
    flex-direction: column;
    line-height: 1.5vw;

    /* display: none; */
}

#modal p {
    width: 71vw;
    font-size: 22pt;
    white-space: normal;
    word-break: normal;
}
