@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap');


* {
    font-family: 'Nunito', sans-serif;
    color: rgb(214, 214, 214);
    font-weight: 300;
    font-size: 18pt;
    text-align: center;
    margin: 2px;
    border-radius: 10px;
    overflow: hidden;
    white-space: nowrap;
}

body {
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    max-height: 100vh;
    max-width: 100vw;
}

input[type=text], input[type=number] {
    width: 120px;
    background: inherit;
    border: none;
    text-align: left;
}

input:hover, input:active {
    background-color: rgb(37, 37, 37);
}

label:hover {
    background-color: none !important;
}

#skip {
    background: rgb(97, 36, 39);
    border: none;
    padding: 5px;;
}

#skip:hover {
    background: rgb(88, 20, 23) !important;
}

#container {
    display: flex;
    flex: 3 1;
    height: 82vh;
}

#player-parent {
    width: calc(82vh * 16 / 9);
    aspect-ratio: 16 / 9;
}

#player {
    width: 100%;
    height: 100%;
}

#queue {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgb(29, 29, 29);
    flex-grow: 1;
    width: 8vw;
    flex-shrink: 0;
    max-height: 82vh;
}

#info {
    width: fit-content;
    max-width: 60vw;
}

#settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.order {
    font-size: 14pt;
    text-align: left;
    white-space: nowrap;
    padding-inline: 10px;
}

#how {
    font-size: 18pt;
    border-radius: 2px;
    font-weight: 500;
    text-align: left;
    background-color: rgb(29, 29, 29);
    padding: 10px;
    border-radius: 5px;
    width: min-content;
}

#progress {
    text-align: left;
}

#currentInfo {
    min-width: 20px;
}

::-webkit-scrollbar {
    width: 0.45vw; 
}
  
/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(90, 90, 90);
    border-radius: 0.3vw;
}

dialog[open] {
    top: 10vh;
    left: 10vw;
    width: 80vw;
    background-color: #0e0e0efa;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 32pt;
    text-wrap: wrap;
}
