@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    color: rgb(214, 214, 214);
    font-weight: 300;
    font-size: 24pt;
    text-align: center;
    margin: 2px;
    border-radius: 10px;
    overflow: hidden;
    white-space: nowrap;
}

body {
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

input {
    width: 200px;
    background: inherit;
    border: none;
    text-align: left;
    background-color: rgb(37, 37, 37);
}

button {
    background-color: rgb(55, 82, 83);
    border: none;
}

#container {
    display: flex;
    flex: 3 1;
}

#settings {
    display: flex;
    justify-content: flex-start;
    align-items: top;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 300px;
}

#info {
    width: fit-content;
    max-width: 60vw;
}

#queue {
    max-height: 72vh;
    overflow-y: scroll;
    background-color: rgb(29, 29, 29);
}

.order {
    width: 26vw;
    font-size: 15pt;
}

#how, #how span {
    font-size: 14pt;
    border-radius: 2px;
}

#player {
    width: 72vw;
    height: calc(72vw/16*9);
}

::-webkit-scrollbar {
    width: 0.45vw; 
}
  
::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: rgb(90, 90, 90);
    border-radius: 0.3vw;
}

#modal {
    position: absolute;
    top: 10vh;
    left: 10vw;
    height: 80vh;
    width: 80vw;
    background-color: #0e0e0eea;
    border-radius: 1vw;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 3vw;
    flex-direction: column;
    line-height: 1.5vw;
}

#modal p {
    width: 71vw;
    font-size: 22pt;
    white-space: normal;
    word-break: normal;
}
